<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand">
        <img src="../../../../assets/img/banner-ico.png" width="50" height="50" alt="" loading="lazy">
      </a>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active"> 
              Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['search']" routerLinkActive="active"
          > Buscar </a>
        </li>
      </ul>
    </div>
  </nav>