.portada {
    margin-bottom: 2rem;
}
.tittle {
    font-size: 50px;
    text-align: center;
    padding: 1em;
}

.descripcion {
    font-size: 28px;
    text-align: center;
}

.imagen {
    display: flex ;
    justify-content: center;
    align-items: center;
}

.tittle {
    color: white;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase; 
    letter-spacing: 5px; 
}

.descripcion {
    color: #FFF;
    text-decoration: none;
    font-family: 'Tenali Ramakrishna', sans-serif;    
}

p .duki {
    color: #FFF;
    text-decoration: none;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-weight: bolder;
    font-size: 1em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 60px;
    margin-top: 1em;
    margin-left: calc(50% - 120px);
    margin-right: calc(50% - 120px);
    text-decoration: none;
    font-size: 16px;
    font-family: 'Hind Vadodara', sans-serif;
    cursor: pointer;
    border-radius: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .3s ease all;
}

  .button:hover {
    font-weight: bolder;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
  }